#content {
    margin: 0 auto;
    width: 60%;
}
body {
    font-family: 'Montserrat', helvetica, aerial, sans-serif;
}
h1, h3, h4, h5 {
    font-family: 'Merriweather', serif;
}
.related {
    font-style: italic;
}
.topperimg {
    width: 100%;
}
.imagewrapper {
    margin: 40px;
}
.imagewrapper img{
    width: 100%
}
.imagewrapper p.caption {
    margin-top: 0px;
    color: grey;
}
#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
blockquote {
    font-weight: bold;
    border: 3px solid #d69702;
    padding: 8px;
    margin-left: 60px;
}

//*below styles apply to div around headline, byline and date*//

#topinfo h5 {
    color: grey;
}
#topinfo h4 {
    font-weight: bold;
}
